*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #ffffff;
	--font-color: black;
	--nav-color: #ffffff;
	--active-link: #fff;
	--card-color: #ffffff;
	--element-primary: black;
	--card-element-font: #fff;
	--pagination-background: black;
}

html {
	position: relative;
	min-height: 100vh;
	font-size: 16px;
	background-color: var(--background-color);
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: var(--font-color);
}


header {
	font-size: 1.6rem;
}
